In [34]:
import pandas as pd
from functools import reduce

In [35]:
co2="Resources/CO2_Emissions_1960-2018.csv"
electricity="Resources/Electricity_Production_By_Source.csv"

In [36]:
co2db=pd.read_csv(co2)
electricitydb=pd.read_csv(electricity)

In [37]:
africa_eastern_southern=co2db.loc[co2db['Country Name'] =='Africa Eastern and Southern'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
africa_western_central=co2db.loc[co2db['Country Name'] =='Africa Western and Central'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
arab_world=co2db.loc[co2db['Country Name'] =='Arab World'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
australia=co2db.loc[co2db['Country Name'] =='Australia'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
central_europe_balkans=co2db.loc[co2db['Country Name'] =='Central Europe and the Baltics'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
europe_central_asia=co2db.loc[co2db['Country Name'] =='Europe & Central Asia'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
european_union=co2db.loc[co2db['Country Name'] =='European Union'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
latin_america_caribbean=co2db.loc[co2db['Country Name'] =='Latin America & Caribbean'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
me_north_africa=co2db.loc[co2db['Country Name'] =='Middle East & North Africa'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
north_america=co2db.loc[co2db['Country Name'] =='North America'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
south_asia=co2db.loc[co2db['Country Name'] =='South Asia'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
world=co2db.loc[co2db['Country Name'] =='World'][['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]

In [38]:
south_asia.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
204,South Asia,0.773531,0.773166,0.785738,0.795362,0.839647,0.863838,0.907528,0.9823,1.023285,1.102908,1.149822,1.198544,1.27424,1.291828,1.382922,1.384816,1.399756,1.46285,1.526651

In [39]:
electricitydb.rename(columns={'Entity': 'Country Name'}, inplace=True)

In [40]:
africa_only=electricitydb.loc[electricitydb['Country Name'] =='Africa']
africa_onlyb=africa_only.loc[(africa_only['Year'] > 1999) & (africa_only['Year'] <2019)]
#df.loc[(df['hour'] <7) & (df['hour']>10) & (df['hour'] <3) & (df['hour']>6) , 'Rush_hour?'] = 'No' 

asia_pacific_only=electricitydb.loc[electricitydb['Country Name'] =='Asia Pacific']
asia_pacific_onlyb=asia_pacific_only.loc[(asia_pacific_only['Year'] > 1999) & (asia_pacific_only['Year'] <2019)]

australia_only=electricitydb.loc[electricitydb['Country Name'] =='Australia']
australia_onlyb=australia_only.loc[(australia_only['Year'] > 1999) & (australia_only['Year'] <2019)]

cis_only=electricitydb.loc[electricitydb['Country Name'] =='CIS']
cis_onlyb=cis_only.loc[(cis_only['Year'] > 1999) & (cis_only['Year'] <2019)]

central_america_only=electricitydb.loc[electricitydb['Country Name'] =='Central America']
central_america_onlyb=central_america_only.loc[(central_america_only['Year'] > 1999) & (central_america_only['Year'] <2019)]

eastern_africa_only=electricitydb.loc[electricitydb['Country Name'] =='Eastern Africa']
eastern_africa_onlyb=eastern_africa_only.loc[(eastern_africa_only['Year'] > 1999) & (eastern_africa_only['Year'] <2019)]

europe_only=electricitydb.loc[electricitydb['Country Name'] =='Europe']
europe_onlyb=europe_only.loc[(europe_only['Year'] > 1999) & (europe_only['Year'] <2019)]

middle_east_only=electricitydb.loc[electricitydb['Country Name'] =='Middle East']
middle_east_onlyb=middle_east_only.loc[(middle_east_only['Year'] > 1999) & (middle_east_only['Year'] <2019)]

north_america_only=electricitydb.loc[electricitydb['Country Name'] =='North America']
north_america_onlyb=north_america_only.loc[(north_america_only['Year'] > 1999) & (north_america_only['Year'] <2019)]

south_central_america_only=electricitydb.loc[electricitydb['Country Name'] =='South & Central America']
south_central_america_onlyb=south_central_america_only.loc[(south_central_america_only['Year'] > 1999) & (south_central_america_only['Year'] <2019)]

world_only=electricitydb.loc[electricitydb['Country Name'] =='World']
world_onlyb=world_only.loc[(world_only['Year'] > 1999) & (world_only['Year'] <2019)]

In [46]:
co2_dfs=[africa_eastern_southern, africa_western_central, arab_world, australia, central_europe_balkans, europe_central_asia, european_union, latin_america_caribbean, me_north_africa, north_america, south_asia, world]

co2_dfsb=pd.concat(co2_dfs, ignore_index=True,axis=0)

In [45]:
electricity_dfs=[africa_onlyb, asia_pacific_onlyb, australia_onlyb, cis_onlyb, central_america_onlyb, eastern_africa_onlyb, europe_onlyb, middle_east_onlyb, north_america_onlyb, south_central_america_onlyb, world_onlyb]
electricity_dfsb=pd.concat(electricity_dfs, ignore_index=True,axis=0)

In [47]:
#exporting to csv's df.to_csv('out.csv')
electricity_dfsb.to_csv("Resources/electricity_filtered.csv")
co2_dfsb.to_csv("Resources/co2_filtered.csv")